html{
    font-family: 'Quicksand', sans-serif; 
}

#content{
    background-color: white;
    height: 60em;
}

#book-section{
    float: left;
    width: 50em;
    height: auto;
    margin: 2em 0em 0em 4em;
    background-color: #b1c5d4;
}

#book-info, #summary, #adding-cart{
    width: 40em;
    height: 17em;
    margin: 2.5em 5em; 
}

#summary{
    height: auto;
}

#book-cover{
    float: left;
    width: 15em;
    height: inherit;
    text-align: center;
}

#book-details{
    float: left;
    width: 20em;
    height: inherit;
    margin-left: 2em;
}

h5{
    margin: 0.2em;
    font-weight: normal;
    font-style: italic;
}

#book-details p{
    font-size: 1em;
    margin: 0.3em;
}

#summary p{
    margin: 2em 1.5em;
    text-align: justify;
}

#adding-cart{
    height: auto;
}

#adding-cart p{
    margin: 2em 1.5em;
    text-align: justify;
}

#adding-cart form{
    margin: 2em 1.5em;
}

#adding-cart input[type='submit']{
    font-family: 'Quicksand', sans-serif; 
}

#notice{
    margin: 2em 1.5em;
}

#notice a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#notice a:hover{
    color: red;
}