html{
    font-family: 'Quicksand', sans-serif; 
}

#contents{
    width: 50em;
    height: auto;
    margin: 4em auto;
}

#receipt{
    width: 50em;
    height: auto;
    margin-top: 3em;
}

#receipt table{
    margin-top: 0.3em;
    width: 100%;
    border-collapse: collapse;
   border: 2px solid rgb(212, 227, 243);
}

#receipt td{
   font-style: italic;
   font-size: small;
   font-weight: lighter;
   padding: 0.5em 0.5em;
}

td[colspan="2"]{
    text-align: center;
}

td a{
    text-decoration: none;
    color: red;
}

td a:hover{
    font-weight: bold;
}

#notice{
    padding: 1em;
    border-bottom: 2px solid rgb(212, 227, 243);;
}

#promote{
    margin-top: 7em;
    margin-left: 1em;
}

#payment{
    margin-top: 3em;
    text-align: center;
    font-size: 0.8em;
}

#payment a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1.5px solid navy;
    padding: 0.3em;
    background-color: lightskyblue;
}

