html{
    font-family: 'Quicksand', sans-serif; 
}

#content{
    background-color: white;
    height: 75em;
}

#genre-navigation{
    float: left;
    width: 18em;
    height: 40em;
}


#genre-bar{
    background-color: #bcd4e6;
    border: 2px solid #708090;
    margin: 3em 1em;
}

#bar-header{
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    border-bottom: inherit;
}

#bar-contents{
    list-style-type: none;
}

ul{
    list-style-type: none;
    padding: 1em;
}

li{
    padding-bottom: 1em;
}

#bar-contents a{
    text-decoration: none;
    color: black;
}

#bar-contents a:hover{
    font-weight: bold;
}

#book-promotion{
    float: left;
    width: 50em;
    height: 75em;
    margin: 2em 0em 0em 4em;
}

#promotion{
    border: 1px solid #eeb111;
    width: 40em;
    height: 20em;
    margin: 2.5em 5em; 
}

#genre-title{
    border: 1px solid black;
    height: 4em;
    width: inherit;
    background-color: #CAFAFE;
}

#genre-title p{
    margin: 1em 3em;
    font-size: 1.2em;
}

#book-space{
    height: 14em;
    width: inherit;
    margin: 1em 0em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#book1, #book2, #book3{
    height: inherit;
    margin: 0em 0.33em;
    text-align: center;
}

#book1:hover, #book2:hover, #book3:hover{
    border: 1px solid #97CAEF;
    font-weight: bold;
}

figcaption{
    font-size: 0.7em;
}