html{
    font-family: 'Quicksand', sans-serif; 
}

#content{
    background-color: white;
    height: 100em;
    width: 100%;
}

#content::after{
    content: "";
    display: table;
  clear: both;
}

#genre-navigation{
    float: left;
    column-width: 25%;
    height: 100%;
}

#genre-bar{
    background-color: #bcd4e6;
    border: 2px solid #708090;
    margin: 3em 1em;
}

#bar-header{
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    border-bottom: inherit;
}

#bar-contents{
    list-style-type: none;
}

ul{
    list-style-type: none;
    padding: 1em;
}

li{
    padding-bottom: 1em;
}

#bar-contents a{
    text-decoration: none;
    color: black;
}

#bar-contents a:hover{
    font-weight: bold;
}

#book-promotion{
    height: 100%;
    background-color: olivedrab;
    column-width: 75%;
}

#promotion1, #promotion2, #promotion3{
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

#promotion1{
    background-color: purple;
    width: inherit;
    height: 30%;
    
}

#genre-title{
    padding: 1.5em;
}

#genre-title p{
    font-size: 1.2em;
    text-align: center;
}

#genre-book-space{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#book1,#book2,#book3{
    text-align: center;
}

#book1:hover, #book2:hover, #book3:hover{
    border: 1px solid #97CAEF;
    font-weight: bold;
}

#genre-title, #genre-book-space{
    position: relative;
    top: 15%;
}

#promotion2{
    background-color: pink;
    width: 100%;
    height: 30%;
}

#promotion3{
    background-color: aquamarine;
    width: 100%;
    height: 30%;
}
