html{
    font-family: 'Quicksand', sans-serif; 
}

#book-results{
    width: 50em;
    height: auto;
    margin: 4em auto;
}

#promote{
    margin-top: 10em;
    text-align: center;
    font-weight: bold;
}

#book-row{
    width: 45em;
    height: 12em;
    border: 3px solid #708090;
    margin: 2em 0em;
}

#book-row:hover{
    border: 4px solid black;
    background-color: aliceblue;
    font-weight: bold;
}

#book-results a{
    text-decoration: none;
    color: black;
    width: auto;
    height: auto;
}

#bookcover{
    float: left;
    width: 8em;
    height: 10em;
    margin: 1em;
}

#bookname{
    float: left;
    width: 30em;
    height: 10em;
    margin: 1em;
}

#bookname p{
    padding: 2em;
}